@font-face {
    font-family: "Bahnschrift";
    src: url("./Bahnschrift.ttf");
    font-weight: 400;
  }

* {
    font-family: "Bahnschrift";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {

    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color:  #f71414;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    background-color: var(--body-color);
    transition: var(--tran-02);
}


body.dark {
    --body-color: #383838;
    --sidebar-color: #161313;
    --primary-color:  #b4b4b4;
    --primary-color-light: #525256;
    --toggle-color: #ffffff;
    --text-color: #b9b9b9;
}


/* ====== Resuable CSS ====== */

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    /* align-items: center; */
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
}

/* ====== Sidebar ====== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar li {
    height: 50px;
    /* background: red; */
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-03);
}


.sidebar header {
    position: relative;
 }

.sidebar .image-text img{
    width: 40px;
    height: 40px;
    border-radius: 2px;
 }

.sidebar header .image-text{
    display: flex;
    align-items: center;

}

header .image-text .header-text {
    display: flex;
    flex-direction: column;

 }

.header-text .name{
    font-weight: 600;
 }

.header-text .profession{
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 25%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}


.sidebar.close header .toggle {
    transform: translateY(-50%);
}


body.dark .sidebar header .toggle {
    transform: translateY(-50%) rotate(180deg);
}

body.dark .sidebar.close header .toggle {
    transform: translateY(-50%);
}



.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 6px;
    border: none;
    background: var(--primary-color-light);
    font-size: 16px;
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}


.sidebar li a:hover {
    background: var(--primary-color);
}

body.dark .sidebar li a:hover {
    background: var(--primary-color);
    /* background-color: black; */
}


.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}


body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: black;
}


.sidebar .menu-bar {
    /* background: red; */
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    /* background: red; */
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    /* cursor: pointer; */
    transition: var(--tran-03);
}


body.dark .switch::before{
    left: 20px;
}

.home {

    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);

    transition: var(--tran-02);

    padding-left: 15px;
    padding-right: 25px;

}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 10px 5px;
}

.sidebar.close ~ .home {
    left: 88px;
    width: calc(100% - 88px);
}

/* .tickets-list, tr,th, thead {
    border: 2px;
    /* color: #161313; 
    border-color: 161313} */

/* .request-table-box {
    margin-left: 10px;
    margin-right: 20px;
} */

.request-table {
    width: 100%;
    border: none;
    margin-bottom: 20px;

}

/* .request-table td {
    min-width: 40px;
} */

.search-panel {
    margin-bottom: 20px;
}

table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 14px;
}
table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}
table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}
table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}

table tbody tr:nth-child(even){
    background: #f3f3f3;
}

table tbody tr:nth-child(odd){
    background: #e2eaff;
}

/* Dark theme in tables */
body.dark table thead th {
    background: #2e2d2d;
    color: var(--text-color);
}

body.dark table tbody tr:nth-child(even){
    background: rgb(48, 47, 47);
    color: var(--text-color);
}

body.dark table tbody tr:nth-child(odd){
    background: #434343;
    color: var(--text-color);
}

/* End of dark theme in tables */

table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}
table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}

.request-table td {
    min-width: 40px;
}

.requested-docs {
    min-width: 400px;
}

div .search-panel {
    display: flex;
    /* padding-left: 30px;
    padding-right: 30px; */
    /* background: var(--primary-color-light); */
    margin-left: 2px;
    margin-right: 18px;

}


.search-mini-box {
    display: flex;
    background: var(--primary-color-light);
    border: 6px;
    border-radius: 10px;
}

.search-panel i {
    background: var(--primary-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
    border: 6px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-input {
    height: 100%;
    width: 100%;
    outline: none;

    border: none;
    background: var(--primary-color-light);
    font-size: 16px;
    min-height: 30px;
    max-width: 250px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.category {
    margin-left: 10px;
    background: var(--primary-color-light);
    border: none;
    border-radius: 10px;
    min-height: 30px;
}

body.dark .search-input {
    color: var(--text-color);
}

body.dark .category {
    color: var(--text-color);
}


.request-table th {
    cursor: pointer;
}

.request-table .th-sort-asc::after {
    content: "\25b4"
}


.request-table .th-sort-desc::after {
    content: "\25be"
}

.request-table .th-sort-asc::after,
.request-table .th-sort-desc::after {
    margin-left: 5px;
    justify-content: center;
    align-items: center;
}

.request-table .th-sort-asc,
.request-table .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}

.footer {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-buttons {
    display: flex;
    flex-direction: row;
    /* margin-right: 20px; */
}

.page-nums {
    /* display: inline-grid; */
    margin-right: 10px;
    margin-left: 10px;
    /* padding-right: 10px;
    padding-left: 10px; */

}

.page-selector, .page-num {

    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
}

.some-empty {
    padding: 5px;
}

.pagination-info {
    margin-left: 2px;
}


.request-box {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}


.request-box .request-describe,
.request-box .request-contacts,
.request-box .request-status,
.request-box .request-comments {
    /* margin: 5px; */
    background-color: white;
    border: 20px;
    border-color: black;
    border-radius: 10px;
    min-width: 50px;
    min-height: 275px;
}

body.dark .request-box .request-describe,
body.dark .request-box .request-contacts,
body.dark .request-box .request-status,
body.dark .request-box .request-comments {
    background-color: rgb(77, 77, 77);
}


.request-title-block {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    padding: 8px 10px 5px;
}


.contacts-minibox {
    display: flex;
    margin: 5px 10px 5px;
    
}

.contacts-minibox > i, 
.contacts-minibox > p {
    color: var(--text-color);
    padding: 0 5px;
}
